body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Центровщик */
.container {
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

/* Хедер */
.page-header {
  min-height: 56px;

  background-color: #ffffff;
}

/* Главная навигация */
.main-nav {
  position: relative;
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 530px;
  z-index: 1;
}

.main-nav__list {
  margin: 0;
}

.site-list {
  display: flex;

  padding-left: 72px;
  padding-right: 72px;

  font-weight: 700;
  line-height: 26px;
  list-style: none;
}

.site-list__item {
  width: 240px;
  margin-top: 15px;
}

.site-list__item:nth-child(2) {
  margin-right: 48px;
}

.site-list__item:nth-child(3) {
  margin-left: 48px;

  text-align: right;
}

.site-list__item:last-child {
  text-align: right;
}

.site-list__link {
  color: #000000;
}

.site-list__link:hover {
  color: #81b3d2;
}

.site-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Блок промо */
.promo {
  position: relative;

  min-height: 508px;

  background-color: #dceaf3;
  background-image: url(../img/promo-bg.jpg);
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.promo::after {
  content: "";

  position: absolute;
  bottom: 0;

  width: 1200px;
  height: 59px;

  background-image: url(../img/promo-polygon.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.promo__header {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
}

/* Блок интро */
.intro {
  box-sizing: border-box;
  min-height: 216px;
  padding-top: 61px;

  background-color: #ffffff;
}

.intro__slogan {
  margin: 0;
  padding-bottom: 27px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.intro__propose {
  margin: 0;

  line-height: 26px;
  text-align: center;
}

/* Причины для посещения в строку */
.reason-row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 256px;
}

.reason-row__wrapper {
  box-sizing: border-box;
  width: 400px;
  padding-top: 48px;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-row__header {
  margin: 0;
  padding-right: 40px;
  padding-bottom: 23px;
  padding-left: 40px;

  font-size: 21px;
  font-weight: 700;
}

.reason-row__number {
  margin: 0;
  padding-right: 40px;
  padding-bottom: 21px;
  padding-left: 40px;
}

.reason-row__description {
  margin: 0;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.reason-row--reverse {
  flex-direction: row-reverse;
}

/* Блок с рекомендациями */
.recommended {
  box-sizing: border-box;
  min-height: 330px;

  background-color: #ffffff;
}

.recommended__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.recommended__item {
  box-sizing: border-box;
  width: 400px;
  padding-top: 162px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;
}

.recommended__item:first-child {
  background-image: url(../img/recommended-bg-house.svg);
  background-repeat: no-repeat;
  background-position: center 60px;
}

.recommended__item:nth-child(2) {
  background-image: url(../img/recommended-bg-burger.svg);
  background-repeat: no-repeat;
  background-position: center 60px;
}

.recommended__item:last-child {
  background-image: url(../img/recommended-bg-gift.svg);
  background-repeat: no-repeat;
  background-position: center 56px;
}

.recommended__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.recommended__advice {
  margin: 0;
  margin-bottom: 20px;
}

/* Причины для посещения в колонки */
.reason-columns {
  box-sizing: border-box;
  min-height: 256px;
}

.reason-columns__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reason-columns__item {
  box-sizing: border-box;
  width: 400px;
  padding-top: 48px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;
}

.reason-columns__header {
  display: inline-block;
  width: 130px;
  margin: 0;
  margin-bottom: 23px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.reason-columns__number {
  margin: 0;
  margin-bottom: 20px;
}

.reason-columns__description {
  margin: 0;
  margin-bottom: 20px;
}



