body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Центровщик */
.container {
  width: 1200px;
  margin: 0 auto;

  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

          box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

/* Хедер */
.page-header {
  min-height: 56px;

  background-color: #ffffff;
}

/* Главная навигация */
.main-nav {
  position: relative;
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 530px;
  z-index: 1;
}

.main-nav__list {
  margin: 0;
}

.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-left: 72px;
  padding-right: 72px;

  font-weight: 700;
  line-height: 26px;
  list-style: none;
}

.site-list__item {
  width: 240px;
  margin-top: 15px;
}

.site-list__item:nth-child(2) {
  margin-right: 48px;
}

.site-list__item:nth-child(3) {
  margin-left: 48px;

  text-align: right;
}

.site-list__item:last-child {
  text-align: right;
}

.site-list__link {
  color: #000000;
}

.site-list__link:hover {
  color: #81b3d2;
}

.site-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-list__link--current {
  color: #766357;
}

/* Блок промо */
.promo {
  position: relative;

  min-height: 508px;

  background-color: #dceaf3;
  background-image: url(../img/promo-bg.jpg);
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.promo::after {
  content: "";

  position: absolute;
  bottom: -1px;

  width: 1200px;
  height: 59px;

  background-image: url(../img/promo-polygon.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.promo__header {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
}

/* Блок интро */
.intro {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 216px;
  padding-top: 61px;

  background-color: #ffffff;
}

.intro__wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 575px;
  margin: 0 auto;
}

.intro__slogan {
  margin: 0;
  padding-bottom: 27px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.intro__propose {
  margin: 0;

  line-height: 26px;
  text-align: center;
}

/* Причины для посещения в строку */
.reason-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 256px;
}

.reason-row__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-top: 48px;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-row__header {
  margin: 0;
  padding-right: 120px;
  padding-bottom: 23px;
  padding-left: 120px;

  font-size: 21px;
  font-weight: 700;
}

.reason-row__number {
  margin: 0;
  padding-right: 40px;
  padding-bottom: 21px;
  padding-left: 40px;
}

.reason-row__description {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  margin: 0;
  padding-right: 48px;
  padding-bottom: 20px;
  padding-left: 48px;
}

.reason-row--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* Блок с рекомендациями */
.recommended {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 330px;

  background-color: #ffffff;
}

.recommended__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.recommended__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-top: 162px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;
}

.recommended__item:first-child {
  background-image: url(../img/recommended-bg-house.svg);
  background-repeat: no-repeat;
  background-position: center 60px;
}

.recommended__item:nth-child(2) {
  background-image: url(../img/recommended-bg-burger.svg);
  background-repeat: no-repeat;
  background-position: center 60px;
}

.recommended__item:last-child {
  background-image: url(../img/recommended-bg-gift.svg);
  background-repeat: no-repeat;
  background-position: center 56px;
}

.recommended__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.recommended__advice {
  width: 290px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Причины для посещения в колонки */
.reason-columns {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 256px;
}

.reason-columns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reason-columns__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-top: 48px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;
}

.reason-columns__header {
  display: inline-block;
  width: 130px;
  margin: 0;
  margin-bottom: 23px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.reason-columns__number {
  margin: 0;
  margin-bottom: 20px;
}

.reason-columns__description {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 49px;
  padding-right: 49px;
}

/* Блока поиска гостиницы */
.search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 291px;
  padding-top: 52px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;

  background-color: #ffffff;
}

.search__slogan {
  display: inline-block;
  margin-bottom: 23px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.search__offer {
  margin: 0;
  margin-bottom: 46px;

  line-height: 24px;
}

.search__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  height: 86px;
  border: none;

  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.search__btn:hover {
  background-color: #604e43;

  cursor: pointer;
}

.search__btn:active {
  background-color: #503e33;
}

.search__btn:active .search__btn-text {
  opacity: 0.3;
}

.search__btn-wrapper {
  position: relative;
}

.search__form-wrapper {
  position: absolute;
  top: 86px;
  left: 296px;

  display: none;
}

.show {
  position: absolute;
  top: 86px;
  left: 296px;

  display: block;
}

.search__form-wrapper.show {
  -webkit-animation: popupshow 0.6s forwards;
          animation: popupshow 0.6s forwards;
  z-index: 2;
}

.booking-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  min-height: 395px;

  padding-top: 55px;
  padding-left: 55px;
  padding-right: 55px;

  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000000;

  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.booking-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.booking-form__date-wrapper {
  position: relative;
  margin-left: auto;
}

.booking-form__date-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  min-height: 38px;
  padding-left: 13px;
  padding-right: 13px;

  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;
}

.booking-form__date-input:hover {
  background-color: #ebebeb;
}

.booking-form__date-input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.booking-form__guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking-form__item--guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 54px;
}

.booking-form__adults-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 41px;
}

.booking-form__kids-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 27px;
}

.booking-form__number-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  min-height: 38px;
  padding: 0;

  text-align: center;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;
}

.booking-form__number-input:hover {
  background-color: #ebebeb;
}

.booking-form__number-input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.booking-form__calendar_img {
  position: absolute;
  top: 8px;
  left: 316px;

  fill: #cacaca;

  cursor: pointer;
}

.booking-form__calendar_img:hover {
  fill: #000000;
}

.booking-form__calendar_img:active {
  fill: #81b3d2;
}

.booking-form__number-btn {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 38px;
  min-height: 38px;

  border: none;
  background-color: #f2f2f2;

  cursor: pointer;
}

.decrease-btn::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.decrease-btn:hover::before,
.increase-btn:hover::before,
.increase-btn:hover::after {
  background-color: #000000;
}

.decrease-btn:active::before,
.increase-btn:active::before,
.increase-btn:active::after {
  background-color: #81b3d2;
}

.increase-btn::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.increase-btn::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 17px;

  width: 3px;
  height: 11px;

  background-color: #a9a9a9;
}

.booking-form__submit-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 458px;
  min-height: 58px;

  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;

  border: none;
  background-color: #81b3d2;

  cursor: pointer;
}

.booking-form__submit-btn:hover {
  background-color: #669ec0;
}

.booking-form__submit-btn:active {
  background-color: #5496bd;
}

.booking-form__submit-btn:active .booking-form__submit-text {
  opacity: 0.3;
}

/* Блок карты */
.map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  min-height: 593px;

  background-image: url(../img/map.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

.map__interactive {
  border: none;
  overflow: hidden;
}

/* Футер */
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; */

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-height: 120px;

  background-color: rgba(255, 255, 255);
}

.page-footer--index {
  position: relative;
  z-index: 10;

  margin-top: -125px;

  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag,
.social,
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
}

.hashtag {
  padding-top: 47px;
}

.hashtag__text {
  font-size: 21px;
  font-weight: bold;
  line-height: auto;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 35px;

  list-style: none;
}

.social__item {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 46px;
  height: 48px;
  margin-right: 6px;

  background-color: #81b3d2;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item:hover {
  background-color: #669ec0;
}

.social__item:active {
  background-color: #5496bd;
}

.social__link {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 46px;
  height: 48px;

  background-color: transparent;
}

.social__link:active {
  opacity: 0.3;
}

.social__link--tw {
  background-image: url(../img/twitter-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.social__link--fb {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.social__link--youtube {
  background-image: url(../img/youtube-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.copyright__img {
  margin-top: 38px;
  fill: #000000;
}

.copyright__link:hover .copyright__img {
  fill: #81b3d2;
}

.copyright__link:active .copyright__img {
  fill: #bdbbbc;
}

.copyright__text {
  margin-top: 48px;
  margin-right: 9px;
}

/* Фильтр жилья */
.filters {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  min-height: 217px;
  padding-top: 28px;
  padding-right: 73px;
  padding-left: 73px;

  background-image: url(../img/filters-bg.jpg);
  background-position: center -60px;
  background-repeat: no-repeat;
}

.filters__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #ffffff;
}

.filters__group {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  margin: 0;
  margin-right: 16px;
  padding: 0;

  border: none;
}

.filters__group-name {
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 700;
}

.filters__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filters__item {
  margin-bottom: 25px;
  padding-left: 37px;
}

.filters__label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filters__checkbox + .filters__label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: -1px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 23px;
  height: 23px;

  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
}

.filters__checkbox:checked + .filters__label::before {
  display: none;
}

.filters__checkbox:checked + .filters__label::after {
  content: "";
  position: absolute;
  left: -38px;
  top: -1px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filters__checkbox:disabled + .filters__label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: -1px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 23px;
  height: 23px;

  border: 2px solid #bdbbbc;
  border-radius: 3px;
  background-color: transparent;
}

.filters__checkbox:checked:disabled + .filters__label::after {
  content: "";
  position: absolute;
  left: -38px;
  top: -1px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-disabled.svg);
  background-repeat: no-repeat;
}

.filters__checkbox:focus + .filters__label {
  font-size: 16px;
  font-weight: 700;;
}

.filters__range {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 318px;
  margin-left: auto;
}

.filters__range-title {
  margin-bottom: 9px;

  font-size: 16px;
  font-weight: 700;
}

.filters__price-controls {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filters__price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);
}

.filters__price-label {
  display: inline-block;
  width: 90px;
  padding-left: 65px;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.filters__price-label--max-price {
  padding-left: 58px;
}

.filters__price-input {
  box-sizing: border-box;
  height: 32px;
  width: 50px;
  margin: 0;
  padding: 0;

  color: inherit;
  font: inherit;
  line-height: 32px;

  background: none;
  border: none;
}

.filters__range-controls {
  position: relative;

  margin-bottom: 32px;
}

.filters__scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.filters__bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.filters__range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.filters__range-toggle:hover {
  border: 9px solid #ffffff;
}

.filters__range-toggle--min {
  left: 0;
}

.filters__range-toggle--max {
  left: 80%;
}

.filters__btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filters__btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* Параметры сортировки результатов поиска */
.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 87px;
  padding-right: 72px;
  padding-left: 72px;

  background-color: #ffffff;;
  border-bottom: 1px solid #e5e5e5;
}

.sort__founded {
  margin: 0;
  margin-right: 47px;
  padding: 0;
  padding-top: 31px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort__title {
  margin: 0;
  margin-right: 40px;
  padding: 0;
  padding-top: 36px;

  font-size: 12px;
  line-height: 18px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.breadcrumbs__item {
  padding-top: 36px;
  margin-right: 33px;
}

.breadcrumbs__link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.breadcrumbs__link:hover {
  color: #81b3d2;
}

.breadcrumbs__link:focus,
.breadcrumbs__link:active {
  color: #000000;
  border-bottom: none;
}

.breadcrumbs__link-current {
  color: #81b3d2;
  border-bottom: none;
}

.view-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 40px;

  list-style: none;
}

.view-by__link {
  position: relative;
}

.view-by__link--up::before {
  content: "";
  position: absolute;
  left: -34px;

  width: 0;
  height: 0;

  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #cacaca;
}

.view-by__link--down::before {
  content: "";
  position: absolute;
  left: -11px;

  width: 0;
  height: 0;

  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-bottom: 10px solid #81b3d2;

  -webkit-transform: rotate(180deg);

      -ms-transform: rotate(180deg);

          transform: rotate(180deg);
}

.view-by__link--up:hover::before,
.view-by__link--down:hover::before {
  border-bottom: 10px solid #231f20;
}

.view-by__link--up:focus::before,
.view-by__link--up:active::before,
.view-by__link--down:focus::before,
.view-by__link--down:active::before {
  border-bottom: 10px solid #81b3d2;
}

/* Каталог недвижимости */
.search-results {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 151px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 72px;
  padding-left: 72px;
}

.hotel-card__img {
  margin-top: 30px;
  margin-right: 30px;
}

.hotel-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 26px;
}

.hotel-card__title {
  margin: 0;
  margin-bottom: 6px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-card__price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 180px;
  margin-bottom: 14px;
}

.hotel-card__details-btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 110px;
  margin-right: 2px;

  line-height: 27px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.hotel-card__details-btn:hover {
  background-color: #669ec0;
}

.hotel-card__details-btn:focus,
.hotel-card__details-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card__booking-btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 142px;

  line-height: 27px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.hotel-card__booking-btn:hover {
  background-color: #604e43;
}

.hotel-card__booking-btn:focus,
.hotel-card__booking-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card__rating-wrapper {
  margin-left: auto;
  padding-top: 15px;
}

.hotel-card__all-stars {
  margin-bottom: 40px;

  text-align: right;
}

.hotel-card__star {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 18px;
  height: 18px;
  margin-left: 3px;

  background-color: transparent;
  background-image: url(../img/rating-star.svg);
  background-repeat: no-repeat;
}

.hotel-card__rating {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 110px;

  line-height: 27px;
  text-align: center;

  background-color: #f2f2f2;
}
